.product-list-detail {
  display: grid;
  align-items: center;
  }

  .product-list-detail h5 {
  font-weight: bold;
  }

  .product-list-detail p {
  margin: 0;
  }


  .card {
    padding: 3vh;
  }

  .presentationDescription{

  }
  .voieAdmin{
    color:var(--cerulean-crayola);
  }
  .prix{
    color: var(--shamrock-green);
    position: absolute;
    top : 2vh;
    right :1vh;
    width: 15%;
  }

  .ajouterPanier{
    position: absolute;
    top : 12vh;
    right :1vh;
    width: 10%;
    border-radius: 1vh;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45vh, 1fr));
    grid-gap: 1vh;
    padding: 0.5em;
  }
