<!-- <div class="card-content" *ngFor="let <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div of <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</divs">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ this.<div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div.name }}</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <p class="card-text">{{ this.<div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div.price }} €</p>
      <a href="#" class="btn btn-primary ajouterPanier">+</a>
    </div>
  </div>
</div> -->



<div class="grid">
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
  <div class="item card">
    <div class="presentationNames">Product</div>   <p class="presentationDescription">Description</p><p class="presentationDescription">Qte disponible : 234</p><div class="voieAdmin">Voie Administration</div><div class="prix">20 €</div><a href="#" class="btn btn-primary ajouterPanier">+</a>
  </div>
</div>

<p-paginator [rows]="10" [totalRecords]="130"></p-paginator>
