<div class="grid">
  <div *ngFor="let presentation of presentations">
    <div class="item card">
      <div class="presentationNames">{{ presentation.id }}</div>
      <p class="presentationDescription">{{ presentation.libelle }}</p>
      <p class="presentationDescription">
        Quantité : {{ presentation.quantitedispo }}
      </p>
      <div class="voieAdmin" *ngIf="presentation && presentation.codecis && presentation.codecis.administrepars && presentation.codecis.administrepars.length>0">
        Voie Administration : {{getListVoieAdministration(presentation)}}
      </div>
      <div class="prix">{{ presentation.prix }} €</div>
      <button [routerLink]="['/']" class="ajouterPanier">+</button>
    </div>
  </div>
</div>
<p-paginator [rows]="10" [totalRecords]="130"></p-paginator>
