.form-inputs{
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;

  /* This bit draws the box around it */
  border:1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding:1px;

}

input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
form:focus-within {
  outline: 1px solid var(--cerulean-crayola)
}


.material-symbols-outlined {
  margin-left:0.25vh;
}

.logButton{
  border-radius: 2vh;
}




.topRightOfNav{
  display: flex !important;
  justify-content: space-between !important;
}

.item {
  position:relative;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  right:-10px;
  top:20px;
  background:red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color:white;
  padding:1px 10px;
  font-size:20px;
}


.login{
    background: var(--shamrock-green);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login:hover{
    background: var(--sheen-green);
}

.criterBar{
  position: absolute;
  margin-top: 30px;
  z-index: 2;
}
