<div *ngIf="!isRouteConnexion" class="navbarDiv">
  <header class="section-header">

    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
      <div class="container-fluid">
      </div>
    </nav>
    <section class="header-main border-bottom bg-white">
      <div class="container-fluid">
        <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
          <div class="col-md-2">
            <a href="#"><img  class="d-none d-md-flex" src="assets/image/2-rogner.png" width="80%"></a>
          </div>
          <div class="col-md-8">
            <form class="d-flex form-inputs">
              <input class="form-control" type="text" placeholder="Chercher un produit...">
              <button class="material-symbols-outlined " style="width:15%">tune</button>
              <button [routerLink]="['produit']" class="material-symbols-outlined" style="width:15%">search</button>
            </form>
          </div>

          <div class="col-md">
            <div class="item">
              <a href="/panier">
                <h1 class="bi bi-cart"></h1>
                <span class="notify-badge" >1</span>
              </a>
            </div>
          </div>


          <div class="col-md">
            <div *ngIf="getStatutConnection()">
              <button class="logButton" (click)="seDeconnecter()">Se déconnecter</button>
              <button pButton label="Logout" icon="pi pi-power-off"></button>
            </div>
            <div *ngIf="!getStatutConnection()">
                <button class="logButton" [routerLink]="['connexion']">Se connecter</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accueil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Afficher mes commandes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Mes commandes</a></li>
                <li><a class="dropdown-item" href="#">Mes commandes types</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>
