<div *ngIf="!isRouteConnexion" class="navbarDiv">
  <header class="section-header">
    
    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
      <div class="container-fluid">
      </div> <!-- navbar-collapse .// -->
      <!-- container //  -->
    </nav> <!-- header-top-light.// -->
    
    <section class="header-main border-bottom bg-white">
      <div class="container-fluid">
        <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
          <div class="col-md-2">
            <img  class="d-none d-md-flex" src="assets/image/2-rogner.png" width="100">
          </div>
          <div class="col-md-8">
            <div class="d-flex form-inputs">
              <input class="form-control" type="text" placeholder="Chercher un produit...">
              <i class="bx bx-search"></i>
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="d-flex d-none d-md-flex flex-row align-items-center">
                <a href="/panier"><h1 class="bi bi-cart"></h1></a>
                <div class="d-flex flex-column ms-2">
                    <span class="qty">1 Product</span>
                    <span class="fw-bold">27.90 €</span>
                </div>    
            </div>    
            
            <div *ngIf="getStatutConnection()">
              <button (click)="seDeconnecter()">Se déconnecter</button>
            </div>     
            <div *ngIf="!getStatutConnection()">
                <button [routerLink]="['connexion']">Se connecter</button>
            </div>      
            
          </div>
        </div>
      </div> 
    </section>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Afficher mes commandes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Mes commandes</a></li>
                <li><a class="dropdown-item" href="#">Mes commandes types</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>
