<div *ngIf="!isRouteConnexion" class="navbarDiv">
  <header class="section-header">
    <!--
    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
      <div class="container-fluid"></div>
    </nav>
    -->
    <section class="header-main border-bottom bg-white">
      <div
        class="row p-2 pt-3 pb-3 d-flex align-items-center container-fluid align-content-center"
      >
        <div class="col-2 d-flex">
          <a href="#"
            ><img
              class="d-none d-md-flex"
              src="assets/image/2-rogner.png"
              width="80%"
          /></a>
        </div>
        <div class="col-7 align-content-center">
          <form class="form-inputs">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="libellePresentation"
              name="libellePresentation"
              (search)="demanderPresentation()"
              placeholder="Recherche un nom de présentation..."
              [disabled]="displayCriteria"
            />
            <button
              class="material-symbols-outlined"
              style="width: 15%"
              (click)="afficherCritres()"
            >
              tune
            </button>
            <button
              (click)="demanderPresentation()"
              [routerLink]="['presentations']"
              class="material-symbols-outlined"
              style="width: 15%"
            >
              search
            </button>
          </form>
        </div>
        <div
          class="col-3 d-flex align-items-center container-fluid align-content-center topRightOfNav"
        >
          <div class="item">
            <a href="/panier">
              <h1 class="bi bi-cart"></h1>
              <span class="notify-badge">
                {{ getNbProdPanier() }}{{ commandesCompte | async }}</span
              >
            </a>
          </div>
          <div class="item" *ngIf="getStatutConnection()">
            <button
              pButton
              class="login"
              (click)="seDeconnecter()"
              label="Se déconnecter"
              icon="bi bi-person-check"
            ></button>
          </div>
          <div class="item" *ngIf="!getStatutConnection()">
            <button
              pButton
              class="login"
              [routerLink]="['connexion']"
              label="S'identifier"
              icon="bi bi-person"
            ></button>
          </div>
        </div>
      </div>

      <div *ngIf="displayCriteria" class="row align-content-center">
        <div class="col-2"></div>
        <div class="col-7">
          <form class="">
            <p>Recherche avancée</p>
            <div class="input-group">
              <label>Nom de présentation </label>
              <input
                style="border: 1px solid black"
                type="text"
                placeholder="saisir nom présentation..."
                [(ngModel)]="libellePresentation"
                name="libellePresentation"
                class="form-control alignInputForm"
              />
              <div class="input-group-append">
                <button
                  class="item deleteCritere"
                  (click)="resetLibellePresentation()"
                >
                  x
                </button>
              </div>
            </div>

            <div class="input-group">
              <label>Nom de médicament </label>
              <input
                style="border: 1px solid black"
                type="text"
                placeholder="saisir nom médicament..."
                [(ngModel)]="libelleMedicament"
                name="libelleMedicament"
                class="form-control alignInputForm"
              />
              <div class="input-group-append">
                <button
                  class="item deleteCritere"
                  (click)="resetLibelleMedicament()"
                >
                  x
                </button>
              </div>
            </div>

            <div class="input-group">
              <label>Nom de générique ...</label>
              <input
                style="border: 1px solid black"
                type="text"
                placeholder="saisir nom générique..."
                [(ngModel)]="generique"
                name="generique"
                class="form-control alignInputForm"
              />
              <div class="input-group-append">
                <button class="item deleteCritere" (click)="resetGenerique()">
                  x
                </button>
              </div>
            </div>

            <div class="input-group">
              <label>par voie d'administration </label>
              <select #voieAdministration (change)="onClickVoieAdministration(voieAdministration.value)"  id="voieAdministrations" name="voieAdministrations">
                <option value="''"></option>
                <option *ngFor="let voieAdministrationstring of this.voieAdministrationsString">
                  {{voieAdministrationstring}}
                </option>
              </select>
            </div>

            <div class="input-group">
              <label>par principe actif </label>
              <select #principeActif (change)="onClickPrincipeAftif(principeActif.value)"  id="principeActifs" name="principeActifs">
                <option value="''"></option>
                <option *ngFor="let principeAftif of this.principeActifs">
                  {{principeAftif | slice : 0 : 40 }}
                  {{ principeAftif.length > 40 ? "..." : "" }}
                </option>
              </select>
            </div>

            <div style="" class="input-group">
              <button class="item ml-auto"
                      (click)="resetAll()"
                      label="Clear critères"
                      icon="bi bi-person-clear">
                Clear critères</button>
            </div>

          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Accueil</a
              >
            </li>

            <!--
            <li *ngIf="getStatutConnection()" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Afficher mes commandes
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Mes commandes</a></li>
                <li>
                  <a class="dropdown-item" href="#">Mes commandes types</a>
                </li>
              </ul>
            </li>
            -->


            <li *ngIf="getStatutConnection()" class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="/commandes"
              >Commandes-Types</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" aria-current="page" href="/panier"
              >Panier</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

<router-outlet></router-outlet>
